footer_centerfooter_centerbody 
{
    margin-top: 60px;
}

.brand 
{
    max-height: 25px;
}

.footer
{
	margin-top: 60px;
}

.footer a{
	text-decoration: none;
	color: red;
}

.footer a:hover{
	text-decoration: none;
	color: #890101;
}

.footer p{
	text-align: center;
}